{% extends "main/base.html" %}

{% block content %}
    <div class="container">
        <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        {% if user.is_authenticated %}
                            Welcome back {{ user.username }}
                        {% else %}
                            You are not logged in
                        {% endif %}
                    </div>
                </div>

                <div style="padding-top:30px" class="panel-body">
                    {% if profile_image %}
                        <div>
                            <img src="{{ profile_image }}" class="img-responsive center-block"/>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
